.game-board {
    min-width: 500px;
    padding-bottom: 48px;
}

.player.self {
    font-weight: bold;
}

.player.offline {
    color: #b1afaf;
}

.player.offline .player-name-text {
    box-shadow: 0 0 15px 4px grey;
    text-decoration: line-through;
}

.no-player .player.offline .player-name-text {
    text-decoration: none;
}

.spectators .player.offline .player-name-text {
    box-shadow: none;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    cursor: default;
    text-align: right;
    z-index: 2;
}

.little-controls {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 6px;
    height: 25px;
}

.little-controls input {
    width: 45px;
    background: transparent;
    border: 1px solid;
    color: #000000;
    padding: 2px;
    margin: 3px;
}

.little-controls div {
    display: inline-block;
}

.little-controls i {
    vertical-align: middle;
    margin-right: 2px;
}

.little-controls .value {
    vertical-align: middle;
    margin: 0 3px;
}

.host-controls-menu {
    display: none;
    margin-bottom: 9px;
}

.host-controls:hover .host-controls-menu {
    display: block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #d4d4d4;
}

.settings-button.inactive {
    opacity: 0.3;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons {
    display: inline-block;
}

#avatar-input {
    display: none;
}

body {
    background-size: cover;
    background: #3e3e3e;
}

.kicked {
    color: white;
    padding: 22px;
    text-align: center;
}

.player {
    padding: 3px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-host-controls {
    display: none;
    vertical-align: text-bottom;
}

.player-host-controls > * {
    margin-left: 3px;
}

.player:hover .player-host-controls {
    display: flex;
    flex: 0;
}

.player .host-button, .command .host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.spectators-section {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.spectators-section.active {
    display: block;
}

.spectators {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    white-space: nowrap;
    height: 20px;
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
    padding: 0;
}

.spectators .player:hover .player-host-controls {
    display: inline-block;
}

.avatar {
    width: 144px;
    height: 183px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0 0 3px 2px black;
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar:hover .set-avatar-button {
    display: block;
}

.set-avatar-button {
    display: none;
}

.set-avatar-button i {
    position: absolute;
    left: 3px;
    bottom: 3px;
    color: #4c4c4c;
    background: rgba(212, 212, 212, 0.74);
    z-index: 2;
}

.top-slots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.bottom-slots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.middle-slots {
    display: flex;
    justify-content: center;
}

.slot-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.player-name {
    text-align: center;
}

.master-slot .player-name {
    display: block;
}

.master-slot .player-name-text {
    width: 75px;
}

.spectators .player-name-text {
    display: inline;
}

.player-slot {
    display: flex;
    margin: 6px;
    padding: 5px;
    background: #adadad;
    box-shadow: 0 0 6px 0px black;
    background: url(player-background.jpg);
    color: white;
    border-radius: 4px;
    z-index: 1;
}

.player-slot.current {
    box-shadow: 0 0 44px 16px #ff9f00;
}

.player-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 9px;
    align-items: center;
    width: 150px;
}

.master-slot .player-section {
    width: auto;
    margin: 0;
}

.master-slot.player-slot {
    position: fixed;
    bottom: 0;
    left: 0;
    background-position: -18px -17px;
    z-index: 3;
}

.master-slot .avatar {
    width: 80px;
    height: 80px;
}

.join-slot-button {
    text-decoration: underline;
    cursor: pointer;
}

.player-name-text {
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.player-role {
    background-image: url(roles.jpg);
    width: 40px;
    height: 64.2px;
    position: absolute;
    top: -4px;
    left: -3px;
    background-size: cover;
}

.master-slot .player-role {
    top: auto;
    left: auto;
    bottom: -5px;
    right: -4px;
}

.player-badge {
    width: 43px;
    height: 50px;
    background: url(badge.png);
    background-size: cover;
    background-color: #25232387;
    position: absolute;
    right: 0;
    bottom: 0;
    filter: brightness(1.4);
}

.player-cards {
    position: relative;
}

.player-cards > div {
    display: flex;
}

.player-cards-background {
    position: absolute;
    top: -17px;
    bottom: -13px;
    left: -20px;
    right: -20px;
    background: url(cards-background.png);
}

.player-want-speech {
    position: absolute;
    right: 8px;
    top: 8px;
    color: white;
    border-radius: 25px;
    padding: 4px;
    box-shadow: 0 0 5px 1px black;
    user-select: none;
    opacity: 0.6;
}

.player-want-speech.active {
    opacity: 1;
}

.player-want-speech.current {
    box-shadow: 0 0 16px 4px #ffbe05;
}

.witness-button {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    opacity: 0.7;
    cursor: pointer;
}

.witness-button:hover {
    opacity: 1;
}

.witness-button i {
    font-size: 56px;
}

.player-action-button {
    padding: 6px;
    font-weight: bold;
    box-shadow: 0 0 7px 1px black;
    cursor: pointer;
    opacity: 0.8;
}

.player-action-button:hover {
    opacity: 1;
}

.card {
    position: relative;
    margin: 2px;
}

.card.button {
    cursor: pointer;
}

.card-face {
    width: 72px;
    height: 111.6px;
    background-size: cover;
}

.card-face.weapons {
    background-image: url(weapons.jpg);
}

.card-face.clues {
    background-image: url(clues.jpg);
}

.card-selects {
    position: absolute;
    padding: 4px;
    top: 0;
    bottom: 9px;
    right: 0;
    left: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}

.card-check {
    padding: 2px 6px;
    border-radius: 25px;
    font-size: 14px;
    margin: 2px;
    border: 2px solid;
    color: #eae8e8;
    height: 19px;
}

.card-check.button.not-set {
    opacity: 0.5;
    visibility: hidden;
}

.card-check.button.not-set:hover {
    opacity: 0.8;
}

.card:hover .card-check.button.not-set {
    visibility: visible;
}

.card-check.button {
    cursor: pointer;
}

.card.correct {
    box-shadow: 0 0 2px 4px #ea234e;
}

.card-marks {
    position: absolute;
    padding: 4px;
    top: 0;
    bottom: -9px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.card-mark {
    width: 7px;
    height: 17px;
    transform: rotate(40.4deg);
    border-radius: 15px;
    border: 1px solid #dadada;
    z-index: 1;
}

.recon-tile-face {
    background-image: url(recon.jpg);
    width: 160px;
    height: 349px;
    background-size: cover;
    border-radius: 10px;
    background-clip: padding-box;
}

.recon-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recon-tiles-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recon-tile {
    margin: 2px;
    position: relative;
}

.recon-tile-change-location-button {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #14e4a6;
    padding: 9px;
    cursor: pointer;
    user-select: none;
}

.recon-tile-swap-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
    user-select: none;
    opacity: 0.4;
}

.recon-tile-swap-button:hover {
    opacity: 0.8;
}

.recon-tile-swap-button i {
    font-size: 35px;
    background: white;
}

.recon-tile-options {
    display: flex;
    flex-direction: column;
    padding-top: 73px;
    align-items: center;

}

.recon-tile-option {
    width: 87%;
    height: 43px;
    background: url(bullet.png);
    background-repeat: no-repeat;
    background-position: right 9px;
    background-size: 22px;
    visibility: hidden;
    opacity: 0.5;
    margin: 1px;
}

.game.isMaster .recon-tile.unselected:hover .recon-tile-option {
    visibility: visible;
}

.recon-tile.unselected .recon-tile-option {
    cursor: pointer;
}

.recon-tile.unselected .recon-tile-option:hover {
    opacity: 0.8;
}

.recon-tile-option.selected {
    visibility: visible;
    opacity: 1;
}

.recon-tiles {
    display: flex;
}

.speech-panel {
    display: flex;
    align-items: center;
    padding: 3px;
    background: #313131;
    box-shadow: 0 0 10px 2px #4c4c4c;
}

.speech-panel.current {
    box-shadow: 0 0 28px 7px #ecc15d;
}

.speech-mode {
    padding: 4px;
    box-shadow: inset 0 0 6px 0px black;
    background: #5d5d5d;
    user-select: none;
}

.speech-mode.mode-on.active {
    background: #bedcb7;
    box-shadow: inset 0px -2px 9px 2px #72d657cf;
}

.speech-mode.mode-off.active {
    background: #dcb7b7;
    box-shadow: inset 0px -2px 9px 2px #d65757cf;
}

.speech-panel.disabled .switch {
    opacity: 0.3;
}

.speech-panel.disabled .speech-mode {
    box-shadow: inset 0 0 6px 0px black;
    background: #5d5d5d;
}

.speech-mode i {
    font-size: 19px;
}

.switch {
    width: 30px;
    margin: 0 1%;
    height: 54px;
    background-image: linear-gradient(#e9e2df 1.6%, #d1c3bb 94.9%, #b4a69f);
    box-shadow: inset 0 10px rgba(255, 255, 255, .7),
    inset 0 11px 1px rgba(250, 250, 250, .2),
    inset 0 -2px 1px rgba(0, 0, 0, .2);
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.switch:before {
    content: "";
    background: rgba(0, 0, 0, .1);
    width: 36%;
    position: absolute;
    height: 4px;
    margin: 16px 32%;
    border-radius: 12px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1);
}

.switch:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(65, 50, 0, 0.25) 0%, rgba(65, 50, 0, 0.25) 1%, rgba(65, 50, 0, 0) 68%, rgba(65, 50, 0, 0) 100%);
    border-radius: 2px;
}

.switch.on {
    background-image: linear-gradient(#fff 1.8%, #f7f6f5 1.8%, #eee6e2 99%, #f0ece8 99%, #f0ece8);
    box-shadow: inset 0 -13px 2px rgba(255, 255, 255, 1);
}

.switch.on:before {
    margin-top: 10px;
    background: orange;
    box-shadow: inset 0 1px rgba(255, 255, 255, .2),
    0 0 2px orange;
}

.switch.on:after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(65, 50, 0, 0.3) 0%, rgba(65, 50, 0, 0.3) 35%, rgba(65, 50, 0, 0) 68%, rgba(65, 50, 0, 0) 100%);
    border-radius: 2px;
}

.bottom-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 77px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.progress-panel {
    display: flex;
    height: 30px;
    padding: 15px;
    background: #313131;
    box-shadow: 0 0 10px 2px #4c4c4c;
    margin: 0 10px;
}

.progress {
    padding: 5px;
    box-shadow: inset 0 0 6px 0px black;
    background: #5d5d5d;
    color: black;
    user-select: none;
}

.progress-round {
    display: flex;
}

.progress.active {
    background: #ead9a5;
    box-shadow: inset 0px -2px 9px 2px #ffab13;
}

.timer {
    background: #313131;
    padding: 13px;
    box-shadow: 0 0 10px 2px #4c4c4c;
    user-select: none;
}

.timer.active .card__top, .timer.active .card__back::before {
    box-shadow: inset -1px 3px 13px -3px #ffab13;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    color: #717171;
}

.card__bottom {
    color: #888;
}

.timer.active .card__top,
.timer.active .card__bottom,
.timer.active .card__back::before,
.timer.active .card__back::after {
    color: #ccc;
}

.timer.active .card__bottom {
    color: #FFF;
}

.color-picker {
    cursor: pointer;
    user-select: none;
    border: 3px solid;
    border-radius: 3px;
    position: absolute;
    right: 5px;
    top: 5px;
    box-shadow: 0 0 6px 0px black;
    color: #ffefd4;
}

.status-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flip-clock {
    text-align: center;
    perspective: 400px;
}

.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
    box-sizing: border-box;
}

.flip-clock__piece {
    display: inline-block;
    margin: 0 5px;
}

.flip-clock__slot {
    font-size: 2vw;
}

.clock-card {
    display: block;
    position: relative;
    padding-bottom: 0.72em;
    font-size: 23px;
    line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    display: block;
    height: 0.72em;
    background: #424242;
    padding: 0.25em 0.25em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visiblity: hidden;
    transform-style: preserve-3d;
    width: 1.8em;
    transform: translateZ(0);
}

.card__bottom {
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #424242;
    background: #424242;
    border-radius: 0 0 0.15em 0.15em;
    pointer-events: none;
    overflow: hidden;
}

.card__bottom::after {
    display: block;
    margin-top: -0.72em;
}

.card__back::before,
.card__bottom::after {
    content: attr(data-value);
}

.card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

.card__back::before {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.flip .card__back::before {
    animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
    animation-fill-mode: both;
    transform-origin: center bottom;
}

.flip .card__back .card__bottom {
    transform-origin: center top;
    animation-fill-mode: both;
    animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }
    0%,
    99% {
        opacity: 0.99;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes flipBottom {
    0%,
    50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }
    51% {
        opacity: 0.99;
    }
    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }
}

.bg-color-0 {
    background: #c62828;
}

.bg-color-1 {
    background: #283593;
}

.bg-color-2 {
    background: #2e7d32;
}

.bg-color-3 {
    background: #ef6c00;
}

.bg-color-4 {
    background: #6a1b9a;
}

.bg-color-5 {
    background: #00838f;
}

.bg-color-6 {
    background: #b4bf45;
}

.bg-color-7 {
    background: #52a6d8;
}

.bg-color-8 {
    background: #795548;
}

.bg-color-9 {
    background: #d4c00f;
}

.bg-color-10 {
    background: #f06292;
}

.bg-color-11 {
    background: #757575;
}

.background-list > div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    opacity: 0;
    transition: opacity 1s;
    background-size: cover;
}

.background-list.win .background-box {
    box-shadow: inset 0 0 20px 5px #4CAF50;
}

.background-list.fail .background-box {
    box-shadow: inset 0 0 20px 5px #FF5722;
}

.background-box {
    opacity: 1 !important;
}

.background-crime {
    background-image: url(bg-crime.jpg);
}

.background-reconstruction {
    background-image: url(bg-reconstruction.jpg);
}

.background-discussion {
    background-image: url(bg-discussion.png);
}

.background-witness {
    background-image: url(bg-witness.jpg);
}

.background-crime-lose {
    background-image: url(bg-crime-fail.jpg);
}

.background-crime-win {
    background-image: url(bg-crime-win.jpg);
}

.background-initial {
    background-image: url(bg-discussion.png);
}

.background-list.phase-0 .background-initial {
    opacity: 1;
}

.background-list.phase-0.crime-win-true .background-crime-win {
    opacity: 1;
}

.background-list.phase-0.crime-win-false .background-crime-lose {
    opacity: 1;
}

.background-list.phase-1 .background-crime {
    opacity: 1;
}

.background-list.phase-2 .background-reconstruction {
    opacity: 1;
}

.background-list.phase-3 .background-discussion, .background-list.phase-4 .background-discussion {
    opacity: 1;
}

.background-list.phase-5 .background-witness {
    opacity: 1;
}

@media (min-width: 0px) and (max-width: 875px) {
    .master-slot.player-slot {
        top: 97px;
        bottom: auto;
        margin-left: 0;
    }

    .bottom-panel {
        height: 125px;
        flex-wrap: wrap;
        max-width: 685px;
        margin: auto;
    }

    .game-board {
        padding-bottom: 90px;
        padding-top: 9px;
    }

    .progress-panel {
        order: 3;
    }
}

.help-panel {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 252, 245, 0.58);
    z-index: 2;
    padding: 6px;
    user-select: none;
}

.help-panel:hover {
    background: rgba(255, 252, 245, 0.86);
}

.status-message {
    display: none;
    margin-left: 5px;
    margin-top: -2px;
    vertical-align: super;
}

.help-panel:hover .status-message {
    display: inline-block;
}

.popup_modals .modal_buttons .btn.btn_pmry {
    background-color: #dcc291 !important;;
}

.popup_modals .modal_buttons .btn.btn_sdry {
    background-color: #9c9c9c !important;
}

.card-face.back {
    filter: grayscale(0.5);
}

.want-master-section {
    position: fixed;
    top: 55px;
    background: rgba(255, 252, 245, 0.58);
    padding: 6px;
    left: 0;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.modal_backdrop {
    z-index: 3 !important;
}